.hero {
  .container {
    position: relative;
    .clippy1 {
      position: absolute;

      top: 40px;
      .img {
        height: 500px;
        width: 330px;
        clip-path: polygon(0% 0%, 54% 0, 100% 50%, 55% 100%, 0% 100%);
      }
    }
    .contents {
      text-align: center;
      padding: 100px 0px;
      .content {
        font-size: 40px;
        font-weight: 900;
      }
      .para {
        font-size: 20px;
        font-weight: 900;
      }
    }

    .clippy2 {
      position: absolute;

      left: 1050px;
      top: 35px;
      .img {
        height: 500px;
        width: 330px;
        clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);
      }
    }
  }
  .few {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    padding-top: 60px;
  }
}

@media (max-width: 768px) {
  .hero {
    width: 300px;
    .container {
      .clippy1 {
        .img {
          display: none;
        }
      }
      .clippy2 {
        .img {
          display: none;
        }
      }
    }
  }
  .few {
    text-align: center;
    width: 300px;
  }
}
