* {


  font-family: "Lato", sans-serif;
  font-family: "Play", sans-serif;
  font-family: "Roboto", sans-serif;
  font-family: "Roboto Condensed", sans-serif;
  font-family: "Saira", sans-serif;
  font-family: "Urbanist", sans-serif;
}
