* {
  font-family: "Lato", sans-serif;
  font-family: "Play", sans-serif;
  font-family: "Roboto", sans-serif;
  font-family: "Roboto Condensed", sans-serif;
  font-family: "Saira", sans-serif;
  font-family: "Urbanist", sans-serif;
}

body {
  margin: 0;
}

#root {
  height: 100vh;
  width: 98vw;
}

@media (max-width: 410px) {
  *{
width: 100%;
  }
  body {



  }
  #root {

width: 100%;
  }
}
